.activation-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  padding-inline: 20px;
}

.activation-panel__indicators {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  height: 100%;
}

.activation-panel__indicator {
  width: 20px;
  aspect-ratio: 1;
  background-color: var(--color-gray);
  border-radius: 50%;
}

.activation-panel__power-button {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  aspect-ratio: 1;

  background-color: var(--color-gray);
}
